@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@200;300;400;500;600&family=Ysabeau+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}


/* Utility Classes */
.container{
    padding-inline: 150px;
}
.flex{
    display: flex;
    align-items: center;
}


/* Navbar Section*/
.navbar{
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: #fff0e5;
    z-index: 100;
    transition: all 0.5s linear ;
}
.navbar.scrolled{
    background-color: #f5fcfe;
    border-bottom: 1px solid black;
}
.img-section img,.search-icon img{
    height: 27px;
}

.list-items{
    position: relative;
    right : 110px;
}
.list-items li:hover{
    cursor: pointer;
    color: rgb(78, 159, 231);
    transition: 0.3s;
}
.list-items li{
    padding: 10px;
}
.search-icon img{
    position: relative;
    left: 100px;
    height: 25px;  
}
.log-in{
    padding: 10px 25px;
}

.log-in:hover{
    background-color: rgba(250, 228, 212,0.5);
    color: #3a10e5;
    border: 1px solid greenyellow;
    border-radius: 4px;
    transition: 0.5s;
}
.search-icon img:hover{
    border-radius: 4px;


}

/* Hero Section*/
.hero-section{
    padding-top: 1cqmax;
    background-color: #fff0e5;
    height: 100vh;
    flex-wrap: wrap;
}
.hero-img-section{
    height: 624px;
    width: 524px;
}
.down-img img{
    margin-top: 150px;
    height:450px ;
    width: 530px;
    z-index: -1;
}
.upper-img img{
    height: 450px;
    width: 530px;
    position:absolute;
    left: 170px;
    top: 180px;
}

/* Form Section */

.form-material{
    height: 450px;
    padding: 3px;
}
.form-section{
    margin: 100px 0 0 100px;
    flex-basis: 35%;
    height: 524px;
    width:624px;
}
.form-text{
    margin-bottom: 20px;
    line-height: 2.5rem;
}
#email{
    margin:5px 0 20px;
}
#password{
    margin: 5px 0 20px;
}
input{
    height: 45px;
    width: 100%;
    padding-left: 10px;
}
.submit-btn{
    margin: 15px 0 20px 0 ;
    color: white;
    background-color: #3a10e5;
    font-size: 16px;
}
.p-text-form{
    font-size: 0.9rem;
    margin: 10px 0;
}
.form-material h5{
    font-size: 1rem;
    margin: 10px 0;
    margin-bottom: 20px;
}
.sites-img{
    
    justify-content: space-around;
}
.desing{
    border: 1px solid black;
    background-color: white;
    padding: 10px 25px;
    border-radius: 4px;
    flex-wrap: wrap;
}
.sites-img img:hover{
    cursor: pointer;
    background-color: rgba(231, 229, 229,0.6);
}


/* Cources Section*/

.popular-cources{
    height: 95vh;
    color: white;
    padding-top: 50px;
    text-align: center;
    background-color: #16055a;
    background-image: url('assests/asset\ 21.svg');
    z-index: 11;
}
.start{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.h3-text{
    font-size: 40px;
    margin-bottom: 10px;
}
.sec-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.sec-navbar ul {
    gap: 50px;
    margin-top: 20px;
    border-bottom: 1px solid white;
   
}
.sec-navbar ul li{
    padding: 10px;
}
.sec-navbar ul li:hover{
    border-bottom: 3px solid rgba(201, 201, 13, 0.974);
    cursor: pointer;
}


/* Cards Section*/
.cards-section{
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Josefin Sans';
    transition:  all 0.5s linear;

}
.card-1{
    height: 287px;
    width: 282px;
    background-color: #fff0e5;
    color: black;
    border-radius: 4px;
    transition: all;
}
.card-1:hover{
    transform: translate(8px,-8px);
    transition: 0.3s linear ;
    box-shadow: -10px 10px black;
    cursor: pointer;

}
.p-head{
    text-align: left;
    padding: 10px;
    background-color:#eafdc6;
    color: black;
    margin-bottom: 10px;

}
.card-main-text{
    margin-inline: 5px;
    text-align: left;
    padding: 10px;
    height: 69%;
}
.card-main-text h5{
    font-size: 18px;
}
.card-p-text{
    padding-block: 10px;
    font-size: 14px;
    word-spacing: 8px;
    line-height: 20px
}

.card-bottom{
    font-size: 15px;
    margin-block: 5px;
    padding: 5px;
    justify-content: space-between;
    font-size: 13px;
    border-top: 1px dashed;
    margin-inline: 10px;
    
}
.btn{
    margin: 50px;
    width: 200px;
    height: 40px;
    background-color: #ffd300;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

/* Learning Section*/ 
.learning-platfom {
    background-color: #10162f;
    color: white;
    height: 97vh;
    text-align: center;
    flex-basis: 35%;
    padding: 50px 0;
    font-family: 'MuseoModerno', cursive;
}
.learn-sec{
    margin-top: 50px ;
    height: 405px;
    width: 705px;
    width: 100%;
    justify-content: center;
}
.left-sect{
    width: 35%;

}
.platform-sec{
    text-align: left;
    border: 2px solid green;
    height: 150px;
    background: rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px 15px;

}
.platform-sec h5{
    font-size: 20px;
    padding: 10px 0;
}
.platform-sec p{
    font-size: 14px;
}
.platform #inter{
    font-family: sans-serif;
    margin-block:40px;
    font-size: 19px;
    text-align: left;
}
.right-sect{
    width: 65%;
}

.video-sec img{
    height: 406px;
    width: 706px;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 40px;
}

/* Quiz Section */
.quiz-section{
    height: 70vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffd300;  
    justify-content: space-around;  

}

.left-quiz-sect{
    width: 30%;
}
.left-quiz-sect p{
    margin-block: 20px;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 2px;
}
.left-quiz-sect h3{
    font-size: 50px;
}
.right-quiz-sect{
    width: 30%;
    margin-left: 140px;
    padding-left: 100px;
}
.right-quiz-sect img{
    padding-inline: 50px;
}
.quiz-btn{
    background-color: blue;
    color: white;
    border: none;
    width: 150px;
    height: 45px;
    margin-block: 20px ;
    font-size: 16px;
    border-radius: 5px;
}

/* Stories Section */
.stories-section{
    height: 90vh;
    background-color: #fff0e5 ;
}
.stories-section h1{
    padding: 50px 0 0 0;
    font-size: 40px;
}
.stories-section p{
    padding-block: 10px;
}
.photo-card-section{
    justify-content: space-between;
}
.photo-card-1 {
    margin-top: 35px;
    height: 370px;
    width: 260px;
    
}

.photo-card-1 img{
    height: 270px;
    width: 260px;
}

/* Skills Section*/

.skills-section{
    height: 70vh;
    background-color: #10162f;
    justify-content: space-around;

}

.skill-left{
    width: 30%;
    color: white;
}
.skill-right{
    width: 30%;
    margin-left: 50px;
}
.skill-right img{
    margin-left: 55px;
}
.skill-left p{
    margin-bottom: 20px;
}
.skill-left h1{
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.skill-left button {
    margin: 0;
}

/* Sign up section */

.sign-up{
    height: 65vh;
    background-color: #3a10e5;
    justify-content: space-between;
}
.v-sec img{
    height: 330px;
}
.right-signup{
    padding: 0;
    margin: 100px;

}
.right-signup button{
    border: none;
    border-radius: 5px;
    font-style: italic;
}
.right-signup h1{
    font-size: 40px;
    font-style: italic;
}
.right-signup p{
    letter-spacing: 2px;
    margin: 0 0 20px ;
    line-height: 1.4;
    font-style: italic;
}

.menu-bar{
    border: 1px solid green;

}



.menu-bar img{
    height: 25px;
    display: none;
}